// Write your styles here
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    font-family: 'Roboto';
    height: 100%;
}
header{
    background-image: url('../img/header_background_v1.jpg');
    min-height: 100vh;
    width: 100%;
    min-width: $min-width-500;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    section{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 10%;
    }
}
h1{
    text-transform: uppercase;
    color: $bright-color;
    @include font-Roboto ($fs-large-Roboto);     
}
//navigation and logo
.logo {
    img{
        height: 145px;
    }
}
nav{
    height: fit-content;
    margin: 10px;
    width: 55%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    a{
        text-decoration: none;
        color: $bright-color;
        text-transform: uppercase;
        margin: 5%;
        @include font-Roboto($fs-small-Roboto);        
        &{
            font-weight: bold;
        }
    }
}
.top-wrapper{
    display: flex;
    justify-content: space-between;
}
// buttons style
.btn-top, .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    margin: 1%;
    background-color: $top-button-color;
    text-decoration: none;
    @include font-Roboto($fs-small-Roboto);
    color: $bright-color;
}


// buttons style


//navigation and logo

.about{
    div{
        img{
            width: 100%;
            min-width: $min-width-500;
        }
    }
}
main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1280px;
    section{
        article{
            display: flex;
            justify-content: space-between;
            padding: 1%;
            background-color: $section-bc;
            margin: 2% 0;
            min-width: $min-width-500;
            img{
                margin-right: 1%;
                height: 100%;
                max-height: 318px;
            }
            div{
                max-height: 318px;
                overflow-y: auto;
            }
        }

    }
}
.toolbar{
    align-self: flex-end;
    margin: 1% 0;
    input{
        height: 50px;
        width: 200px;
        padding: 1%;
    }

}
//styles for posts
.post-list, .contact-form{
    display: flex;
    flex-direction: column;    
    h1{
        align-self: flex-end;
        color: $anchor-text-color;
    }
}
.about{
    p{
        margin: 1% 0;
        @include font-Roboto($fs-small-Roboto);
        min-width: $min-width-500;
    }
    div{
        display: flex;
        flex-direction: column; 
        h1{
            align-self: flex-end;
            color: $anchor-text-color;
        }
    }
}
.post{
    display: flex;
    flex-direction: column;
    @include font-Roboto($fs-small-Roboto);
    h3{
        @include font-Roboto($fs-large-Roboto);
        color: $top-button-color;
        text-transform: uppercase;
        font-weight: bold;
    }
    div{
        padding: 1%;
        color: $user-changes-color;
        font-weight: bold;
        border-bottom: 2px solid $user-changes-border-color;
        margin-bottom: 1%;
    }
    p{
        margin: 1% 0;
        @include font-Roboto($fs-small-Roboto);
    }

}
article{
    div{
        display: flex;
        flex-direction: column;
        button{
            align-self: flex-end;
        }
    }
}
//styles for posts
//contacts and form autorization
.contact-form{
    margin: 1% 0;
    display: flex;
    min-width: $min-width-500;
    h4{
        align-self: flex-end;
    }
}
.name, .email, .question-form-wrapper{
    display: flex;
    flex-direction: column;
    span{
        align-self: flex-end;
    }
}

.name-email{
    display: flex;
    width: 100%;
    justify-content: space-between;
    div{
        width: 45%;
        input{
            height: 40px;
            margin: 1% 0;
        }
    }
}
[name="autorization-form"]{
    margin: 2% 0;
    color: $top-button-color;
    display: flex;
    flex-direction: column;
    button{
        align-self: flex-end;
    }
}
[name="question-form"]{
    margin: 1% 0;    
}

//contacts and form autorization
//footer
footer{
    min-width: $min-width-500;
    width: 100vw;
    span{
        @include font-Roboto($fs-small-Roboto);        
    }
}
//footer
